.welcome{
    height: 150px;
    text-align: center;
    padding: 40px;
}
.w-group-1{
    display: flex;
    margin: 0px 10px 10px 10px;
}
.w-boxes{
    width: 33%;
    background-color: #fff;
    text-align: center;
    padding: 40px;
    margin: 10px;
}
.w-boxes h2{
    font-size: 15px !important;
    font-weight: 400;
    height: 50px;
}
.w-boxes button{
    padding: 10px;
    border:none;
    background-color:#59c1dc ;
    color: white;
}
.w-boxes button:hover{
    cursor: pointer;
}

/*BARRA DE NAVEGAÇAO*/

.bar-navegacao{
    width: 3%;
    background-color: #354052;
    overflow: hidden;
    white-space: nowrap;
}
.bar-navegacao:hover{
    width: 15%;
}
.bar-navegacao li{
    padding: 10px;
    color: white;
}
.bar-navegacao li:hover{
    cursor: pointer;
    background-color: #01b400;
    transition: .3s ease-in-out;    
}
.bar-navegacao .far{
    font-size: 15px;
    text-align: center;
    margin-right: 15px;
    width: 35px;
    
}
.bar-navegacao .lista-top{
    margin-top: 30px;
    margin-bottom: 30px;

}
.ativo{
    background-color: #01b400;
}

/* BOTTOM AREA*/
.w-group-2{
    margin: 10px;
    display: flex;
}
.w-boxes-2{
    width: 50%;
}
.w-boxes-box{
    margin: 10px;
}
.w-grafico{
    position: relative;
}
.w-geral{
    background-color: #ffff;
}
.w-graficos-geral{
    background-color: #ffff;
    display: flex;
    align-items: center;
}
.w-box-graficos{
    width: 30%;
    padding: 10px;
    margin: 10px;
}
.w-box-graficos h2{
    font-size: 14px !important;
    font-weight: 400;
}
.w-box-graficos h3{
    font-weight: 400;
}
.grafico-chart{
    width: 254px !important;
    height: 180px !important;
}
.w-porcentagem{
    display:flex;
}
.w-linha-grafi{
    margin-top: 10px;
    width: 25%;
    padding: 10px;
}
.w-linha-grafi h2{
    font-size: 16px !important;
    font-weight: 400;
}
.w-linha-grafi h3{
    font-weight: 400;
}
.w-linha-externa{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background-color: #dad8d8;
}
.w-lincor-1{
    width: 32.21%;
    height: 5px;
    border-radius: 25px;
    background-color: #68ad6c;
}
.w-lincor-2{
    width: 75.21%;
    height: 5px;
    border-radius: 25px;
    background-color: #72b9cd;
}
.w-lincor-3{
    width: 63.45%;
    height: 5px;
    border-radius: 25px;
    background-color: #e7ad5b;
}
.w-lincor-4{
    width: 72.4%;
    height: 5px;
    border-radius: 25px;
    background-color: #4376a1;
}
/* boxes 3 */

.w-boxes-3{
    width: 50%;
}
.title-top-boxes{
    display: flex;
    justify-content: space-between;
}
.w-arquivos{
    background-color: #ffff;
}
.box-arquivos{
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.box-arquivos .fa-file{
    margin-left: 1%;
    margin-right: 10%;
}
.sub-arquivos{
    display: flex;
    width: 100%;
}
.sub-arquivos h5{
    margin-right: 20%;
    width: 10%;
}
#selecao{
    padding: 10px;
}
optgroup{
    font-size: 15px !important;
}

@media (max-width:1290px){
    .cabecalho {
        justify-content: first baseline;
        font-size: 9px;
    }

    .w-group-2 {
        display: block;
    }

    .w-boxes h2 {
        height: 95px;
    }

    .w-boxes-box {
        width: auto;
    }
}
@media (max-width:720px){
    .w-group-1 {
        display: block;
    }

    .w-group-2 {
        display: block;
    }

    .w-boxes {
        width: auto;
    }

    .w-boxes-2 {
        width: auto;
    }

    .w-boxes-3 {
        width: auto;
    }

    .w-graficos-geral {
        display: block;
    }

    .w-grafico {
        width: 45vh;
    }

    .w-porcentagem {
        display: block;
    }

    .w-linha-grafi {
        width: auto;
    }

    .title-top-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #selecao {
        margin: 10px;
        padding: 0px;
    }

    .grafico-chart {
        width: 200px !important;
    }

    .w-grafico {
        width: 35vh;
    }
}